html, body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100%; /* Ensure body takes full height */
    width: 100%; /* Ensure body takes full width */
}

/* body {
    background: linear-gradient(to bottom, #305ae4, #6b6bb4);
} */

/* Shell Container for grid elements that spans the entire viewport */

.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: 0.5fr 4fr 0.5fr; /* Three rows with relative sizing */
    height: 100vh; /* Full viewport height */
    width: 100vw;  /* Full viewport width */
}
  
.grid-container > div {
    text-align: center;
    font-size: 30px;
    outline: 1px solid black; /* Add outline to visualize grid lines */
}

.grid-navbar, .grid-body, .grid-footer {
    border-bottom: 1px solid black; /* Proper bottom border syntax */
}

.grid-body-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}

/* Calendar Container */

#calendar-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: 0.5fr 4fr;
    border-left: 1px solid black;
}

/* Calendar Weekdays */

#calendar-container-weekdays {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 1px solid black;
}

#calendar-container-weekdays > div:not(:first-child) {
    border-left: 1px solid black;
}

#calendar-container-weekdays > div > p {
    text-align: center;
}

/* Calendar Weekdays */

#calendar-container-dates {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

#calendar-container-dates > div {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#calendar-container-dates > div:not(:last-child) {
    border-bottom: 1px solid black;
}

#calendar-container-dates > div > div {
    border-left: 1px solid black;
}

#calendar-container-dates > div > div > p {
    text-align: center;
    height: 100%;
    width: 100%;
}