/* Calendar Page CSS */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100%; /* Ensure body takes full height */
    width: 100%; /* Ensure body takes full width */
}

a {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;

}

/* Header CSS */

#header {
    position: fixed;
    display: block;
    width: 100vw;
    border-bottom: 5px solid rgb(255, 214, 161);
    background-color: antiquewhite;
}

#header > h1 {
    display: inline;
    padding-left: 10px;
    padding-top: 0px;
    color: rgb(255, 173, 65);
}

#header-links {
    position: absolute;
    right: 10px;
    top: 10px;
    list-style-type: none;
    display: inline;
}

/* Navbar CSS */

#navbar {
    display: block;
    position: absolute;
    top: 40px;
    height: 50px;
    width: 100vw;
}

#navbar  a {
    color: rgb(255, 173, 65);
    font-weight: normal;
}

#navbar-tabs {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style-type: none;
    padding: 0;
}

#navbar-tabs > li {
    font-weight: bold;
    display: inline;
    padding: 3px;
}

/* Grid Body Container CSS AKA The Alerts and Calendar Globals - Maybe Rename to something else more clear? */

.grid-body {
    display: block;
    position: absolute;
    /* height: 500px; */
    height: 80%;
    width: 100%;
    top: 93.5px; /* Proper bottom border syntax */
}

.grid-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: 100%;
}

/* Info Container  CSS*/

#calendar-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 350px;
    border: 2px solid rgb(255, 173, 65);
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(255, 214, 161);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#alerts, #message-wall {
    display: block;
    background-color: antiquewhite;
    border: 2px solid rgb(255, 173, 65);
    border-radius: 20px;
    width: 90%;
    margin-top: 20px;
    overflow: hidden;

}

#alerts > label, #message-wall label {
    display: block;
    width: 100%;
    background-color: antiquewhite;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid rgb(255, 173, 65);
    
}

.feed {
    display: block;
    background-color: white;
    width: 100%;
    height: 100px;
}

/* Calendar CSS */

#current-month {
    padding: 10px;
    background-color: rgb(255, 214, 161);
}

#week-toggles {
    font-size: 10px;
    text-decoration: underline;
    position: absolute;
    display: block;
    right: 25px;
    top: 15px;
}

#calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 2px solid rgb(255, 173, 65);
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
}

#calendar-container-dates {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
    width: 100%;
}

#calendar-container-dates > div {
    border-bottom: 5px solid rgb(255, 214, 161);;
}

#calendar-container-dates > div > p {
    margin: 0;
    padding: 3px;
    height: auto;
    width: auto;
    text-align: start;
}

div.date-box-current {
    background-color: aqua;
}

div.date-box-previous, div.date-box-following {
    background-color: lightgray;
}

/* Footer CSS */

.grid-footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
}

.grid-footer p {
    font-size: 10px;
    color: grey;
    margin: 0px;
}